<div class="submit_form">
    <div *ngIf="!submitted">
        <div class="form_group">
            <label for="date">Date</label>
            <input 
                type="text"
                class="form-control"
                id="date"
                required
                [(ngModel)]="diary.date"
                name="date"
            />
        </div>

        <div class="form_group">
            <label for="Content">Content</label>
            <input
                type="text"
                class="form_control"
                id="content"
                required
                [(ngModel)]="diary.content"
                name="content"
            />
        </div>

        <button (click)="saveDiary()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-class" (click)="newDiary()">Add</button>
    </div>
</div>